{
  "service_account_key_file": "/otus/Turdalievw_infra/packer-base/key.json",
  "id_folder": "code_numbers",
  "source_image_family": "ubuntu-1604-lts",
  "zone": "ru-central1-a",
  "reddit_file": "reddit.service",
  "ssh_user": "appuser"
}
